@import "../variables";

.btn {
  position: absolute;
  font-weight: bold;
  margin-left: $img-width - 30px;
  margin-top: 5px;
  background: rgba(230,230,230, 0.3);
  border-radius: 10px;
  border: none
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer
}

.caption {
  font-size: 16px;
  color: black;
  width: $img-width;
  text-align: center;
  clear: both;
}

.donate {
  background-color: rgb(255,105,180);
  border-radius: 10px;
  margin-top: 10px;
  width: 120px;
  &:hover {
    cursor: pointer;
  }
}

.img {
  width: $img-width;
  border-radius: 10px;
  margin-bottom: 5px;
}

.tile {
  width: $img-width + 10;
  background-color: rgba(50,205,50,0.2);
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 15px;
}
